<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>1</title>
    <script src="https://cn.vuejs.org/js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <ul id="x">
        <input v-model='keyWord'>
        <button @click='btn=2'>升序</button>
        <button @click='btn=1'>降序</button>
        <button @click='btn=0'>原序</button>
        <li v-for='p in newPersons' :key='p.id'>
            {{p.name}}-{{p.age}}
        </li>
    </ul>
</body>
<script type="text/javascript">
    var vm=new Vue({
        el:x,
        data:{
            btn:0,
            keyWord:'',
            persons:[
                {id:1,name:'xz1',age:1},
                {id:2,name:'y12',age:3},
                {id:3,name:'xz2',age:4},
                {id:4,name:'ym1',age:6},
                {id:5,name:'xm1',age:2},
                {id:6,name:'mz2',age:5}
            ],
        },
        computed:{
            newPersons(){
                const arr= this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord)!==-1
                })
                if(this.btn){
                    arr.sort((p1,p2)=>{
                        return this.btn===1?p2.age-p1.age:p1.age-p2.age
                    })
                }
                return arr;
            }
        }
    })
                
</script>
</html>