<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>1</title>
    <script src="https://cn.vuejs.org/js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <ul id="x">
        <input v-model='keyWord'>
        <li v-for='p in newPersons' :key='p.id'>
            {{p.name}}-{{p.age}}
        </li>
    </ul>
</body>
<script type="text/javascript">
    var vm=new Vue({
        el:x,
        data:{
            keyWord:'',
            persons:[
                {id:1,name:'xz1',age:1},
                {id:2,name:'y12',age:2},
                {id:3,name:'xz2',age:3}
            ],
            // newPersons:[]
        },
        computed:{
            newPersons(){
                return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord) !==-1
                })
            }
        }
        // watch:{
        //     keyWord:{
        //         immediate:true,//先遍历一遍
        //         handler(val){
        //             this.newPersons=this.persons.filter((p)=>{
        //                 return p.name.indexOf(val) !==-1
        //             })
        //         }
        //     }
        // }
    })
                
</script>
</html>